  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <div>
	<label>选择模块自动生成</label>
	<select onselect="autogenerate()" onchange="autogenerate()" id="mobile" style="background-color: #888;color: #f05f40';">
		<option value="" index="-1">
			请选择
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=home">
			首页
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=cashTreasureHome">
			现金宝
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=featuredFund">
			精选基金
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=fundList">
			全部基金
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=myConcern">
			自选基金
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=highEndFinancing">
			高端理财
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=outsideFunds">
			境外基金
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=assetsHome">
			我的资产
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=register">
			注册
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=login">
			登录
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=regularList">
			我的定投列表
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=setting">
			个人中心
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=bankCardManage">
			银行卡管理
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=risk">
			风险评测
		</option>
		<option value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=tradeRecord">
			交易记录
		</option>
		<option grade="0" value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=subscribe">
			认申购
		</option>
		<option grade="0" value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=conversionList">
			转换
		</option>
		<option grade="0" value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=regularInvestment">
			定投
		</option>
		<option grade="0" value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=redemption">
			赎回
		</option>
		<option grade="0" value="http://m.cifm.com/weisvr/app?a=wx01272e8adf9aacd1&go=https://m.cifm.com/appServer/integrate/wxentry?wxUsername=OPENID&pageId=fundDetails">
			基金详情
		</option>
	</select>
</div>

<div>
	<ul>
		<li>
			<label>链接地址：</label>
			<input type="text" id="url"
				   placeholder="请输入链接地址" style="width: 80%;"/ style='color:#f05f40'>
		</li>
		<li>
			<label>基金代码：</label>
			<input type="text" id="fundCode" placeholder="请输入基金代码" style="width: 80%;color:#f05f40"/>
		</li>
	</ul>



	<!--<label>基金名称</label>-->
	<!--<input type="text" id="fundName"/>-->
</div>

<div>
	<button onclick="generateLink()" style='color:#f05f40'>生成链接</button>
	<button onclick="copyUrl2(1)" style='color:#f05f40'>去百度生成短连接</button>
	<button onclick="copyUrl2()" style='color:#f05f40'>快速复制</button>
</div>

<div>
	<p>生成后链接</p>
	<textarea id="newUrl" style="width: 100%;height: 100px;color:#f05f40"></textarea>
</div>
              <!--<h2>Free Download at Start Bootstrap!</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
          </div>
      </div>
  </aside>
