<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">维护升级中..........</h2>
                <!--<hr class="light">
                <p class="text-faded">前端架构师一枚，专注于前端工程</p>
                <p class="text-faded">爱好：骑行，编码</p>
                <p class="text-faded">联系我：15021554336@yeah.net</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
