<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1555558186&di=adbdf4104b12b952120a2c20e972dcc0&src=http://image.biaobaiju.com/uploads/20181007/15/1538896968-DCWLNoEUJQ.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                佛曰：
                            </div>
                            <div class="project-name">
                                一切皆为虚幻
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)"" class="portfolio-box">
                    <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1555558186&di=adbdf4104b12b952120a2c20e972dcc0&src=http://image.biaobaiju.com/uploads/20181007/15/1538896968-DCWLNoEUJQ.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                佛曰：
                            </div>
                            <div class="project-name">
                                不可说
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555568435602&di=b4ec8d59c956f2081eb0a71c2ae10cee&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201407%2F11%2F20140711161634_YswtW.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                佛曰：
                            </div>
                            <div class="project-name">
                                色即是空，空即是色
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555569508029&di=65aaf1fabacbb3ad26c1bb2da7ec6a00&imgtype=0&src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20171115%2F4b7b3bc3bb754031a925f2b05fd83955.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                佛曰：
                            </div>
                            <div class="project-name">
                                一花一世界，一佛一如来
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555569601451&di=b9fe25678744b601c590bb1fb6a0529c&imgtype=0&src=http%3A%2F%2Fimg.alicdn.com%2Fimgextra%2Fi1%2F1775894962%2FTB2X8MSBipnpuFjSZFkXXc4ZpXa_%2521%25211775894962.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                佛曰：
                            </div>
                            <div class="project-name">
                                人生在世如身处荆棘之中，心不动，人不妄动，不动则不伤；如心动则人妄动，伤其身痛其骨，于是体会到世间诸般痛苦
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555569639168&di=9135c51c460283c14cc8688e5744b429&imgtype=0&src=http%3A%2F%2Fwww.hwtrip.com%2Ffile%2FM00%2F00%2F1E%2FCvoiK1mU-fGACB9TAAIK0Tm_L78801.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                佛曰：
                            </div>
                            <div class="project-name">
                                菩提本无树，明镜亦非台，本来无一物，何处惹尘埃
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
